.vscode

*.xml
*.dex
## It will be uploaded later
author.html
editor.html
index.html
index1.html
instruction.html
css/palette.scss
css/style.css
en/author.html
en/instruction.html
en/sorry.html
en/lessons/lesson1.html
en/lessons/lesson2.html
en/lessons/lesson3.html
en/lessons/lesson4.html
en/lessons/lesson5.html
en/lessons/lesson6.html
en/lessons/lesson7.html
en/lessons/lesson8.html
en/lessons/lesson9.html
en/lessons/lesson10.html
en/lessons/lesson11.html
en/lessons/lesson12.html
en/lessons/lesson13.html
en/lessons/lesson14.html
en/lessons/lesson15.html
en/lessons/lesson16.html
en/lessons/lesson17.html
en/lessons/lesson18.html
en/lessons/lesson19.html
en/lessons/lesson20.html
en/lessons/lesson21.html
en/lessons/lesson22.html
en/lessons/lesson23.html
en/lessons/lesson24.html
en/lessons/lesson25.html
en/lessons/lesson26.html
en/lessons/lesson27.html
en/lessons/lesson28.html
en/lessons/lesson29.html
en/lessons/lesson30.html
en/lessons/lesson31.html
en/lessons/lesson32.html
en/lessons/lesson33.html
en/lessons/lesson34.html
en/lessons/lesson35.html
en/lessons/lesson36.html
en/lessons/lesson37.html
en/lessons/lesson38.html
en/lessons/lesson39.html
en/lessons/lesson40.html
en/lessons/lesson41.html
en/lessons/lesson42.html
en/lessons/lesson43.html
en/lessons/lesson44.html
en/lessons/lesson45.html
en/lessons/lesson47.html
en/lessons/lesson48.html
en/lessons/lesson49.html
en/lessons/lesson50.html
en/lessons/lesson51.html
en/lessons/lesson52.html
en/lessons/lesson53.html
en/lessons/lesson54.html
en/lessons/lesson55.html
en/lessons/lesson56.html
en/lessons/lesson57.html
en/lessons/lesson58.html
en/lessons/lesson59.html
en/lessons/lesson60.html
en/lessons/lesson61.html
en/lessons/lesson62.html
en/lessons/lesson63.html
en/lessons/lesson64.html
en/lessons/lesson65.html
en/lessons/lessons.html
en/lessons/preparation.html
font/material-design-icons/LICENSE.txt
font/material-design-icons/Material-Design-Icons.eot
font/material-design-icons/Material-Design-Icons.svg
font/material-design-icons/Material-Design-Icons.ttf
font/material-design-icons/Material-Design-Icons.woff
font/material-design-icons/Material-Design-Icons.woff2
font/minecraft/Minecraft Title.ttf
font/minecraft/Minecraft-Bold-Italic.otf
font/minecraft/Minecraft-Bold.otf
font/minecraft/Minecraft-Italic.otf
font/minecraft/Minecraft-Regular.otf
font/minecraft/Minecraft.ttf
images/bg2.png
images/bl_start.png
images/button_close.png
images/button.png
images/craft1.png
images/driver.png
images/furnace1.png
images/hand_equipped1.png
images/hand_equipped2.png
images/ic_launcher.png
images/id.png
images/img2.png
images/img3.png
images/lesbg.png
images/money.png
images/radius.png
images/top_bg.png
js/blocklauncherapi.js
js/change_language.js
js/editorIde.js
js/jquery-3.4.1.min.js
js/main.js
languages/en_US.json
languages/ru_RU.json
lessons/lesson1.html
lessons/lesson2.html
lessons/lesson3.html
lessons/lesson4.html
lessons/lesson5.html
lessons/lesson6.html
lessons/lesson7.html
lessons/lesson8.html
lessons/lesson9.html
lessons/lesson10.html
lessons/lesson11.html
lessons/lesson12.html
lessons/lesson13.html
lessons/lesson14.html
lessons/lesson15.html
lessons/lesson16.html
lessons/lesson17.html
lessons/lesson18.html
lessons/lesson19.html
lessons/lesson20.html
lessons/lesson21.html
lessons/lesson22.html
lessons/lesson23.html
lessons/lesson24.html
lessons/lesson25.html
lessons/lesson26.html
lessons/lesson27.html
lessons/lesson28.html
lessons/lesson29.html
lessons/lesson30.html
lessons/lesson31.html
lessons/lesson32.html
lessons/lesson33.html
lessons/lesson34.html
lessons/lesson35.html
lessons/lesson36.html
lessons/lesson37.html
lessons/lesson38.html
lessons/lesson39.html
lessons/lesson40.html
lessons/lesson41.html
lessons/lesson42.html
lessons/lesson43.html
lessons/lesson44.html
lessons/lesson45.html
lessons/lesson47.html
lessons/lesson48.html
lessons/lesson49.html
lessons/lesson50.html
lessons/lesson51.html
lessons/lesson52.html
lessons/lesson53.html
lessons/lesson54.html
lessons/lesson55.html
lessons/lesson56.html
lessons/lesson57.html
lessons/lesson58.html
lessons/lesson59.html
lessons/lesson60.html
lessons/lesson61.html
lessons/lesson62.html
lessons/lesson63.html
lessons/lesson64.html
lessons/lesson65.html
lessons/lessons.html
lessons/preparation.html
library/library.html
libs/jquery/jquery-3.4.1.min.js
ru/author.html
ru/index.html
ru/index1.html
ru/instruction.html
ru/sorry.html
ru/lessons/lesson1.html
ru/lessons/lesson2.html
ru/lessons/lesson3.html
ru/lessons/lesson4.html
ru/lessons/lesson5.html
ru/lessons/lesson6.html
ru/lessons/lesson7.html
ru/lessons/lesson8.html
ru/lessons/lesson9.html
ru/lessons/lesson10.html
ru/lessons/lesson11.html
ru/lessons/lesson12.html
ru/lessons/lesson13.html
ru/lessons/lesson14.html
ru/lessons/lesson15.html
ru/lessons/lesson16.html
ru/lessons/lesson17.html
ru/lessons/lesson18.html
ru/lessons/lesson19.html
ru/lessons/lesson20.html
ru/lessons/lesson21.html
ru/lessons/lesson22.html
ru/lessons/lesson23.html
ru/lessons/lesson24.html
ru/lessons/lesson25.html
ru/lessons/lesson26.html
ru/lessons/lesson27.html
ru/lessons/lesson28.html
ru/lessons/lesson29.html
ru/lessons/lesson30.html
ru/lessons/lesson31.html
ru/lessons/lesson32.html
ru/lessons/lesson33.html
ru/lessons/lesson34.html
ru/lessons/lesson35.html
ru/lessons/lesson36.html
ru/lessons/lesson37.html
ru/lessons/lesson38.html
ru/lessons/lesson39.html
ru/lessons/lesson40.html
ru/lessons/lesson41.html
ru/lessons/lesson42.html
ru/lessons/lesson43.html
ru/lessons/lesson44.html
ru/lessons/lesson45.html
ru/lessons/lesson47.html
ru/lessons/lesson48.html
ru/lessons/lesson49.html
ru/lessons/lesson50.html
ru/lessons/lesson51.html
ru/lessons/lesson52.html
ru/lessons/lesson53.html
ru/lessons/lesson54.html
ru/lessons/lesson55.html
ru/lessons/lesson56.html
ru/lessons/lesson57.html
ru/lessons/lesson58.html
ru/lessons/lesson59.html
ru/lessons/lesson60.html
ru/lessons/lesson61.html
ru/lessons/lesson62.html
ru/lessons/lesson63.html
ru/lessons/lesson64.html
ru/lessons/lesson65.html
ru/lessons/lessons.html
ru/lessons/preparation.html
